.card-container {
  display: flex;
  flex-direction: column;
  background-color: #2cd0d6;
  border: 10px solid grey;
  border-radius: 8px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  border-style: solid;
  border-image: linear-gradient(45deg, rgb(119, 0, 143), rgb(236, 23, 219)) 1;
  border-width: 5px 5px 5px 5px;
}

.card-container:hover {
  transform: scale(1.05);
}
